<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Crear Gimnasio</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/Styles/crearGimnasio.css" />
</head>
<body>
  <div class="container">
    <div class="form-card">
      <h1>Bienvenido a <span>GymAssist</span></h1>
      <p>Antes de comenzar, cuéntanos sobre tu gimnasio.</p>
      <form th:action="@{/gimnasios/register}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="nombreGimnasio">🏋️ Nombre del Gimnasio</label>
          <input type="text" id="nombreGymnasio" name="nombreGymnasio" th:value="*{nombreGymnasio}" required>
        </div>

        <div class="form-group">
          <label for="rut">📄 NIT</label>
          <input type="number" id="rut" name="rut" th:value="*{rut}" required>
        </div>

        <div class="form-group">
          <label for="direccion">📍 Dirección</label>
          <input type="text" id="direccion" name="direccion" th:value="*{direccion}" required>
        </div>

        <div class="form-group">
          <label for="descripcion">📝 Descripción</label>
          <textarea id="descripcion" name="descripcion" th:text="*{descripcion}" required></textarea>
        </div>

        <button type="submit">✅ Registrar Gimnasio</button>
      </form>
    </div>
  </div>
</body>
</html>
