<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Crear Gimnasio</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/Styles/crearGimnasio.css" />
  <link rel="icon" href="https://media.canva.com/v2/image-resize/format:PNG/height:1024/quality:100/uri:ifs%3A%2F%2FM%2F6293492d-90de-4ff2-8521-44571fe13397/watermark:F/width:1024?csig=AAAAAAAAAAAAAAAAAAAAAOLV6xCRNfqeXx4kabpivLv81cm2L12Fl0_78GK7TPjt&exp=1761598823&osig=AAAAAAAAAAAAAAAAAAAAAO_rfXfN2kovLoSwAcy-QVMbV69lhfqYhD4qPePG-u0-&signer=media-rpc&x-canva-quality=screen_2x" type="image/png">
</head>
<body>
  <div class="container">
    <div class="form-card">
      <h1>Bienvenido a <span>GymAssist</span></h1>
      <p>Antes de comenzar, cuéntanos sobre tu gimnasio.</p>
      <form th:action="@{/gimnasios/register}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="nombreGimnasio">🏋 Nombre del Gimnasio</label>
          <input type="text" id="nombreGymnasio" name="nombreGymnasio" th:value="*{nombreGymnasio}" required>
        </div>

        <div class="form-group">
          <label for="nit">📄 NIT</label>
          <input type="number" id="nit" name="nit" th:value="*{nit}" required>
        </div>

        <div class="form-group">
          <label for="direccion">📍 Dirección</label>
          <input type="text" id="direccion" name="direccion" th:value="*{direccion}" required>
        </div>

        <div class="form-group">
          <label for="descripcion">📝 Descripción</label>
          <textarea id="descripcion" name="descripcion" th:text="*{descripcion}" required></textarea>
        </div>

        <div class="form-group">
          <label for="nit">💵Numero de cuenta</label>
          <input type="number" id="nit" name="nit" required>
        </div>

        <button type="submit">✅ Registrar Gimnasio</button>
      </form>
    </div>
  </div>
</body>
</html>