<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/Imagenes/logo_icon.png">
    <title>Planes - GYMASSIST</title>
    <link rel="stylesheet" href="/Styles/styles.css">
    <link rel="stylesheet" href="/Styles/planes.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="navbar">
        <div class="logo-container">
            <img src="/Imagenes/logo_icon.png" alt="Logo" class="logo-img"> 
            <div class="logo-text">GYMASSIST</div>
        </div>
        <nav>
            <ul>
                <li><a href="/index">Beneficios</a></li>
                <li><a href="/rutinas">Rutinas</a></li>
                <li><a href="/planes">Planes</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup" class="signup">Register</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <h1>Nuestros Planes</h1>
        <p>Explora nuestros planes diseñados para adaptarse a tus necesidades y objetivos de negocio.</p>
    </section>
    <section class="card container grid">
        <div class="card__container grid">
            <article class="card__content grid">
                <div class="card__pricing">
                    <div class="card__pricing-number">
                        <span class="card__pricing-symbol">$</span>9<span class="card__pricing-symbol">.99</span>
                    </div>
                    <span class="card__pricing-month">USD</span>
                </div>

                <header class="card__header">
                    <div class="card__header-circle grid" id="plan1">
                        <i class="uil uil-dumbbell"></i>
                    </div>
                    
                    <span class="card__header-subtitle">PRINCIPIANTES</span>
                    <h1 class="card__header-title">Mensual</h1>
                </header>
                
                <ul class="card__list grid">
                    <li class="card__list-item">
                        <p class="card__list-description">Flexibilidad total para quienes prefieren un compromiso mes a mes. Accede a todas las funciones del software para administrar pagos, clientes y recordatorios automáticos.</p>

                </ul>

                <button class="card__button"><a class="ror" href="/plan1">SELECCIONAR</a></button>
            </article>
            <article class="card__content grid">
                <div class="card__pricing">
                    <div class="card__pricing-number">
                        <span class="card__pricing-symbol">$</span>54<span class="card__pricing-symbol">.99</span>
                    </div>
                    <span class="card__pricing-month">USD</span>
                </div>

                <header class="card__header">
                    <div class="card__header-circle grid" id="plan2">
                        <i class="uil uil-dumbbell"></i>
                    </div>

                    <span class="card__header-subtitle">Mas popular</span>
                    <h1 class="card__header-title">Semestral</h1>
                </header>
                
                <ul class="card__list grid">
                    <li class="card__list-item">
                        <p class="card__list-description">Ahorra con este plan de seis meses y disfruta de todas las herramientas del software a una tarifa reducida. Ideal para gimnasios que buscan estabilidad operativa.</p>
        
                </ul>

                <button class="card__button"><a class="ror" href="/plan2">SELECCIONAR</a></button>
            </article>
            <article class="card__content grid">
                <div class="card__pricing">
                    <div class="card__pricing-number">
                        <span class="card__pricing-symbol">$</span>99<span class="card__pricing-symbol">.99</span>
                    </div>
                    <span class="card__pricing-month">USD</span>
                </div>

                <header class="card__header">
                    <div class="card__header-circle grid" id="plan3">
                        <i class="uil uil-dumbbell"></i>
                    </div>

                    <span class="card__header-subtitle">Empreserial</span>
                    <h1 class="card__header-title">Anual</h1>
                </header>
                
                <ul class="card__list grid">
                    <p class="card__list-description"> La mejor opcion para grandes empresas.Acceso a todas las funciones por un año completo, ideal para gimnasios comprometidos con el crecimiento y la mejor experiencia para sus clientes.</p>
                </ul>

                <button class="card__button"><a class="ror" href="/plan3">SELECCIONAR</a></button>
            </article>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-logo-container">
                <img src="/Imagenes/logo_icon.png" alt="Logo" class="footer-logo">
            </div>
            <div class="footer-info">
                <div class="footer-section">
                    <h4>Sobre mí</h4>
                    <ul>
                        <li><a href="#sobre-mi">Quién soy</a></li>
                        <li><a href="#proyectos">Mis Proyectos</a></li>
                        <li><a href="#contacto">Contáctame</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Historia</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Servicios</h4>
                    <ul>
                        <li><a href="servicios.html">Configuración de Servidores</a></li>
                        <li><a href="servicios.html">Creación de Contenido</a></li>
                        <li><a href="servicios.html">Soporte en Discord</a></li>
                        <li><a href="#">Desarrollo Web</a></li>
                        <li><a href="#">Consultoría</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Enlaces Útiles</h4>
                    <ul>
                        <li><a href="#">Política de Privacidad</a></li>
                        <li><a href="#">Términos de Uso</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Soporte Técnico</a></li>
                        <li><a href="#">Mapa del Sitio</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Redes Sociales</h4>
                    <ul>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 GYMASSIST | Todos los derechos reservados..</p>
        </div>
    </footer>
    
</body>
</html>
