body {
    font-family: Arial, sans-serif;
    background-color: rgb(8, 16, 124);
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(0, 51, 102, 0.9); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 0.3s ease; 
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: auto;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: #fff; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}


nav ul li a.active {
    background-color: #3498DB; 
    border-radius: 5px; 
}

main {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.login-form h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498DB;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #2980B9;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #3498DB;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

footer {
    background-color: #f6f6f6;
    color: #ffffff;
    padding: 40px 20px;
    
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.footer-logo {
    width: 120px; 
    height: auto;
}

.footer-info {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #0a0707;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #060606;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

body {
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}